<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>croc.farm</title>
  <link rel="stylesheet" type="text/css" href="static/crocfarm.css"/>

  <script>
  {% if meta %} window.meta = {{ meta|tojson }}; {% endif %}
  </script>

</head>
<body>

  <div id="app">
    <section id="doc">
      <div id="croc-line">
        <a class="link" href="http://croc.farm/mocking-spider">http://croc.farm/<strong class="name">mocking-spider</strong></a>
      </div>
      <form id="doc-form">
        <div id="doc-content">
          <textarea name="doc" id="doc-text" placeholder="Enter stuff here...">{% if doc %}{{ doc }}{% endif %}</textarea>
        </div>
        <input id="feed-button" type="submit" value="feed the croc"/>
      </form>
    </section>
  </div><!-- app -->

  <script src="static/crocfarm.js"></script>
</body>
</html>
