@import url(https://fonts.googleapis.com/css?family=Francois+One);
$font: "Francois One", sans-serif;
$color: blue;
$width: 1020px;

@mixin mobile {
  @media only screen and (max-width: $width) {
    @content;
  }
}

body {
  // Set the nice croc background
  background: url('images/blurrycroc.jpg') repeat;
  background-size: cover;

  margin: 0;

  font-size: 22pt;
  font-family: $font;
}

#app {
  // This will arrange and stack all items nicely
  display: flex;
  flex-direction: column;
  align-items: center;
}

// This is shared among all base layout elements
$common-background: rgba(255, 255, 255, 0.55);
$elem-space: 20px;  // Common spacing between elements

#doc-form, #croc-line {
  width: $width;
  @include mobile {
    width: 90vw;
  }
}

#croc-line {
  margin: 60px 0 $elem-space;
  text-align: center;
  padding: $elem-space 0;  // Makes the box "buffier"
  background: $common-background;
  a {
    color: $color;
  }
  transform: scaleX(0) scaleY(0);  // Be hidden initially
  transition: transform 0.12s;
  &.show {
    transform: scaleX(1) scaleY(1);
  }
}

#doc-form {
  min-height: 320px;
  display: flex;
  flex-direction: column;
}

#doc-content {
  display: block;
  background: $common-background;
  padding: $elem-space;
  display: flex;

  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    min-height: 320px;
    font-size: inherit;
  }
}

#feed-button {
  margin: $elem-space 0 0;
  align-self: center;
  border: none;
  background: $common-background;
  padding: $elem-space;
  color: $color;
  font-size: inherit;
  $transition-time: .7s;
  transition: background $transition-time, color $transition-time;
  &:hover {
    color: lighten($color, 14%);
    cursor: pointer;
  }
  &:disabled {
    $lighten-percent: 34%;
    color: lighten($color, $lighten-percent);
    background: lighten($common-background, $lighten-percent);
    cursor: default;
  }
}
